<%= form_tag(
      destroy_events_signature_path(@signature),
      method: :delete, role: 'form'
    ) do %>

  <%= hidden_field_tag :filter, @filter %>

  <div class="form-group">

    <table id="eventsTable" class="table table-bordered table-striped dataTable">
    <thead>
      <tr>
	<th></th>
	<th><%= t('attributes.sensor') %></th>
	<th><%= t('attributes.event_time') %></th>
	<th><%= t('attributes.src_ip') %></th>
	<th><%= t('attributes.src_port') %></th>
	<th><%= t('attributes.dst_ip') %></th>
	<th><%= t('attributes.dst_port') %></th>
	<th><%= t('attributes.proto') %></th>
	<th><%= t('attributes.http_hostname') %></th>
	<th></th>
      </tr>
    </thead>
    <tbody>

    <% events.each do |event| %>
      <%= content_tag_for(:tr, event) do %>
	<td class="center"><%= check_box_tag "event_ids[]", event.id %></td>
        <td><%= link_to(event.sensor, events_path(sensor: event.sensor)) %></td>
	<td><%= event.event_time.to_s(:precision) %></td>
	<td><%= signatures_by_ip(event.src_ip) %> / 
	    <%= IpLookup.hostname(event.src_ip) %> <br />
            <%= threadcrowd_link(ip: event.src_ip) %>
	</td>
	<td><%= event.src_port %></td>
	<td><%= signatures_by_ip(event.dst_ip) %> / 
	    <%= IpLookup.hostname(event.dst_ip) %> <br />
            <%= threadcrowd_link(ip: event.dst_ip) %>
	</td>
	<td><%= event.dst_port %></td>
	<td><%= event.proto %></td>
        <td>
          <% unless event.http_hostname.blank? %>
            <%= link_to event.http_hostname, events_path(httphost: event.http_hostname) %>
            <br />
            <%= threadcrowd_link(domain: event.http_hostname) %>
          <% end %>
       </td>
	<td class="nowrap">
	  <%= show_link event %>
	  <%= delete_link event %>
	  <%= link_to image_tag("wireshark.png"), packet_event_path(event), 
		class: 'btn btn-default', title: "Download pcap file" %>

	</td>
      <% end %>
    <% end %>
    </tbody>
    </table>
  </div>

  <% if events.any? %>
  <div class="btn-toolbar" role="toolbar">
    <%= submit_tag(t('actions.marked_done'), class: "btn btn-success",
          data: {confirm: "#{t('lackmus.really')} #{t('actions.marked_done')}?"})%>
    <%= submit_tag(t('actions.all_done'), class: "btn btn-primary",
          data: {confirm: "#{t('lackmus.really')} #{t('actions.all_done')}?"})%>
    <%= submit_tag(t('actions.destroy_marked'), class: "btn btn-warning",
          data: {confirm: "#{t('lackmus.really')} #{t('actions.destroy_marked')}?"})%>
    <%= submit_tag(t('actions.destroy_all'), class: "btn btn-danger",
          data: {confirm: "#{t('lackmus.really')} #{t('actions.destroy_all')}?\n\n#{t('lackmus.truly')}"})%>
  </div>
  <% end %>
<% end %> <!-- end form -->

