<h1><%= t('controller.signatures') %></h1>

<table id="dataTable" class="table table-bordered table-striped dataTable">
<thead>
  <tr>
    <th><%= t('attributes.signature_id') %></th>
    <th><%= t('attributes.signature_info') %></th>
    <th><%= t('attributes.category') %></th>
    <th>Sev.</th>
    <th><%= t('attributes.last_seen') %></th>
    <th><%= t('attributes.count') %></th>
    <th><%= t('attributes.action') %></th>
    <th></th>
  </tr>
</thead>
<tbody>

<% @signatures.each do |signature| %>
  <%= content_tag_for(:tr, signature) do %>
    <td><%= signature.signature_id %></td>
    <td><%= signature.signature_info %></td>
    <td><%= signature.category %></td>
    <td><%= signature.severity %></td>
    <td><%= signature.last_seen %></td>
    <td><%= signature.events.count %></td>
    <td><%= signature.action %></td>
    <td class="nowrap">
      <%= show_link signature %>
      <%= edit_link signature %>
      <%= delete_link signature %>
      <%= link_to image_tag("wireshark.png"), pcap_signature_path(signature), class: 'btn btn-default',
            title: "Download pcap file" %>

    </td>
  <% end %>
<% end %>
</tbody>
</table>

<br />

<%= back_link %>
<%= new_link Signature %>
