<table class="table table-bordered table-hover autowidth">
  <tr>
    <th><%= t('attributes.signature_id')%>:</th>
    <td><%= @signature.signature_id %></td>
  </tr>
  <tr>
    <th><%= t('attributes.signature_info')%>:</th>
    <td><%= @signature.signature_info %></td>
  </tr>
  <tr>
    <th><%= t('attributes.category')%>:</th>
    <td><%= @signature.category %></td>
  </tr>
  <tr>
    <th><%= t('attributes.severity')%>:</th>
    <td><%= @signature.severity %></td>
  </tr>
  <tr>
    <th><%= t('attributes.references')%>:</th>
    <td><%= @signature.references %></td>
  </tr>
  <tr>
    <th><%= t('attributes.action')%>:</th>
    <td><%= @signature.action %></td>
  </tr>
</table>

<div class="btn-toolbar" role="toolbar">
  <%= back_link %>
  <%= edit_link(@signature) %>
  <%= delete_link(@signature) %>
  <%= new_link Signature %>
</div>

<% if can? :read, Event %>
  <br />  
  <h2><%= t('controller.events') %></h2>
  <%= render partial: 'events', locals: { events: @signature.events.most_current(50) } %>
<% end %>

