<div class="card">
  <div class="card-header">
    <div class="signature_header">
      <%= @signature.signature_id %>
      <%= @signature.signature_info %>
    </div>
  </div>
  <div class="card-body">
    <div class="signature_subtitle">
      <%= @signature.category %> / Severity: <%= @signature.severity %>
    </div>

    <table class="table table-hover">
      <tr>
	<th class="w-25"><%= t('attributes.last_seen')%>:</th>
	<td class="w-75"><%= @signature.last_seen %></td>
      </tr>
      <tr>
	<th><%= t('attributes.count')%>:</th>
	<td><%= @signature.events.count %></td>
      </tr>
      <tr>
	<th><%= t('attributes.references')%>:</th>
	<td><%= link_references(@signature) %></td>
      </tr>
      <tr>
	<th><%= t('attributes.action')%>:</th>
	<td><%= @signature.action %></td>
      </tr>
    </table>

    <div role="toolbar">
      <%= back_link %>
      <%= edit_link(@signature) %>
      <%= delete_link(@signature) %>
      <%= link_to "Download PCAP", pcap_signature_path(@signature), class: 'btn btn-secondary' %>
    </div>
  </div>
</div>

<% if can? :read, Event %>
  <br />  
  <h2 class="mb-3"><%= t('controller.events') %></h2>
  <%= render partial: 'events', locals: { events: @signature.events.active.most_current(50) } %>
<% end %>
