<%= form_tag main_searches_path, role: "form",
  method: :post,  class: 'form-horizontal well' do |f| %>

  <fieldset>
    <%= form_legend %>

    <div class="form-group">
      <label for="query" class="col-sm-2 control-label">
        <%= t('attributes.query') %>
      </label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="search_q" name="search[q]">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-9">
        <button type="submit" class="btn btn-primary"><%= t('actions.search') %></button>
        <%= cancel_button %>
      </div>
    </div>

  </fieldset>
<% end %>

