<%= simple_form_for(@event_rule,
  html: { class: 'form-horizontal well' },
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  }) do |f| %>

  <fieldset>
    <%= form_legend %>

    <div class="form-inputs">
      <%= f.input :position
       %>
      <%= f.simple_fields_for :filter do |ff| %>
        <% EventRule::FILTER_ATTRIBUTES.each do |attrib| %>
          <%= ff.input attrib.to_sym,
               as: :string,
               input_html: { value: @event_rule.filter[attrib] }
            %>
        <% end %>
      <% end %>
      <%= f.input :action, collection: EventRule::ACTIONS, include_blank: false
       %>
      <%= f.input :severity
       %>
      <%= f.input :valid_until,
            as: :string, wrapper: :horizontal_date
       %>
      <%= f.input :description
       %>
    </div>

    <div class="form-actions col-sm-9 col-sm-offset-3">
      <%= f.button :submit, class: 'btn btn-primary' %>
      <%= cancel_button %>
    </div>
  </fieldset>
<% end %>
