<% if can? :navigate, :events %>
  <li class="nav-item dropdown <%= active_class('events') %>">
    <a class="nav-link dropdown-toggle" href="#" id="navbarEventsLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= t('controller.events') %>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarEventsLink">
       <%=link_to t('lackmus.overview'), main_app.events_path, class: 'dropdown-item' %>
       <%=link_to t('lackmus.since_today'), main_app.events_path(since: "today"), class: 'dropdown-item' %>
       <%=link_to t('lackmus.since_yesterday'), main_app.events_path(since: "yesterday"), class: 'dropdown-item' %>

      <div class="dropdown-divider"></div>

       <%=link_to t('lackmus.search'), main_app.new_main_search_path, class: 'dropdown-item' %>
    </div>
  </li>
<% end %>
