<div style="padding-bottom: 1em; line-height: 20px;">
  <div style="font-weight: bold;">
<%= event.sensor %> <%= event.event_time.to_s(:precision) %> [<%= event.alert_signature_id %>] <%= event.alert_signature %> [<%= event.alert_category %>]
  </div>
  <div style="padding-left: 20px">
    {<%= event.proto %>} <%= event.src_ip %>:<%= event.src_port %> (<%=IpLookup.hostname(event.src_ip)%>) -> <%= event.dst_ip %>:<%= event.dst_port %> (<%= IpLookup.hostname(event.dst_ip)%>)
  </div>
<% if event.has_http %>
  <div style="padding-left: 20px">
    <%= event.http_method %> <%= event.http_hostname %> <%= event.http_url%> [<%= event.http_status %>] size:<%= event.http_length %>
  </div>
<% end %>
</div>

